<div class="photo-preview">
  <div class="photo">
    <img width="170" src="{{photo}}" alt="{{name}}">
  </div>
  <div class="info">
    <span>{{name}}</span>
  </div>
  <div class="more">
    <a href="#" data-photo-id={{photo_id}}>Click to Zoom</a>
  </div>
</div>
